.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  background-color: #ffffff;
  border: 1px solid #dadce0;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;
  color: #3c4043;

  padding: 10px 16px;
  width: 100%;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.btn-google:hover {
  background-color: #f7f8f8;
  box-shadow: 0 1px 3px rgba(60, 64, 67, 0.3);
}
