tr[data-color="amarillo"] td {
  background-color: #fff2cc !important;
}

tr[data-color="rosado"] td {
  background-color: #f8d7da !important;
}

tr[data-color="blanco"] td {
  background-color: white !important;
}
table th.text-center {
  text-align: center !important;
}