/* COLORES POR CONDICIÓN */
tr[data-color="amarillo"] td {
  background-color: #fff2cc !important;
}

tr[data-color="rosado"] td {
  background-color: #f8d7da !important;
}

tr[data-color="blanco"] td {
  background-color: white !important;
}

/* Encabezado de ciclo */
.ciclo-header td {
  background-color: #e6e6e6 !important;
  font-weight: bold;
}
