body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Estilos para modo oscuro */
body.dark-mode {
  background-color: #1e1e2f;
  color: #f1f1f1;
}

body.dark-mode .user_adminname {
  color: white;
}

body.dark-mode button.nav-link{
  color: black;
}



body.dark-mode .btn {
  background: white;
  color: #01408c;
}
body.dark-mode .bg-light {
  background-color: #161b1e !important;
}

body.dark-mode .border-bottom {
  border-bottom: 1px solid #444 !important;
}

body.dark-mode .header_top_bar.d-flex.justify-content-between.align-items-center.px-3.py-2.bg-light.border-bottom.with-sidebar {
    background: #161b1e !important;
}

body.dark-mode .titlebienvenida{
  color: black
}
body.dark-mode ul.breadcrumb.back-color-bd {
    background: white !important;
    color: black;
}

body.dark-mode ul.breadcrumb.back-color-bd  li {
    color: black !important;
}

body.dark-mode ul.breadcrumb.back-color-bd  a {
    color: black !important;
}

body.dark-mode .table {
  background-color: #161b1e;
  color: white;
}

body.dark-mode .table thead {
  background-color: #3a3a50;
}

body.dark-mode h2{
  color:white;
}

body.dark-mode .page-body{
  background-color: #161b1e;
}
/*SIDERBAR*/
/*body.dark-mode .sidebar-content{
  background-color: #161b1e;
}*/

body.dark-mode .sidebar-wrapper.show{
  background-color: #161b1e !important;
}

body.dark-mode .sidebar{
  background-color: #161b1e;
}

body.dark-mode .menu-btn{
    background-color: #252f35;
    color: #ffffff;
}

body.dark-mode .submenu a {
  color: white;
}

body.dark-mode .submenu li {
    border-left: 1px solid white;
    background: #252f35;
}

body.dark-mode .d-flex.flex-column.text-end span{
    color: white !important;
}

body.dark-mode .salir-btn {
    background-color: hsl(203deg 18% 18%) !important;
    color: white;
}

/* Ocultar skeleton loading animations globalmente */
.react-loading-skeleton {
    display: none !important;
    background: transparent !important;
    background-image: none !important;
    animation: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
}

/* Desactivar animaciones de shimmer del skeleton CSS */
@keyframes react-loading-skeleton {
    100% { background-position: 100% 0; }
}

/* Ocultar el pseudo-elemento de shimmer si existe */
.react-loading-skeleton::before,
.react-loading-skeleton::after {
    display: none !important;
}